* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New";
}

.Navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}

.navbar__top {
  width: 100%;
  height: 48px;
  padding: 10px;
    background-color: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.navbar__text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.navbar__right-text {
  text-decoration: underline;
}
